.root
  bottom: 0
  position: absolute
  height: auto
  max-height: 100%
  width: 100%
  overflow: hidden
  display: none
  svg
    // position: absolute
    height: auto
    width: 100%
    // transform: translateX(-5%)
    // left: -100%
    path
      fill: #F3EDE2 !important