.root
  display: flex
  .picture
    width: 40vw
    height: 100vh
    background-image: url("/images/gory.jpg")
    background-size: cover
    background-position: center
    // background: black
  main
    flex: 1
    display: flex
    align-items: center
    justify-content: center
    display: flex
    background: #F3EDE2
    padding-bottom: 20em
    padding-top: 2em