.root
  position: relative
  display: flex
  flex-direction: column
  padding-top: 1rem
  // width: 100vw
  height: 100vh
  background-image: url("https://images.ctfassets.net/u0haasspfa6q/2sMNoIuT9uGQjKd7UQ2SMQ/1bb98e383745b240920678ea2daa32e5/sell_landscape_photography_online?w=1920&fm=webp&q=90")
  background-size: cover
  background-position: center
  color: rgba(255, 255, 255, 0.9)
  header
    display: flex
    align-content: center
    justify-content: space-between
    width: 100%
    padding: 0 2rem 0 2rem
    background: rgba(0, 0, 0, 0.6)
    a
      display: block
      width: auto
      padding: 0.5rem
      text-transform: uppercase