.root
  display: block
  position: relative
  width: 32vw
  height: 32vh
  overflow: hidden
  a
    display: block
    position: relative
    width: 100%
    height: 100%
    &::before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 1)
      opacity: 0.5
      z-index: 1
    .thumbnail
      display: block
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    .title
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      font-size: 1.6rem
      padding: 0.5rem 1rem
      color: rgba(255, 255, 255, 0.9)
      z-index: 2