.root
  display: flex
  // width: 100vw
  flex-direction: column
  // align-items: center
  padding: 1rem 3rem
  // justify-content: center
  min-height: 50vh
  background: #F3EDE2
  h2
    width: fit-content
  .trips
    width: auto
    display: flex
    flex-wrap: wrap
    align-content: space-around
    justify-content: space-around
    gap: 1rem