@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap')
*
  box-sizing: border-box
  margin: 0
  padding: 0
html
  font-family: 'Noto Sans', sans-serif
  color: rgba(0, 0, 0, 0.9)
body
ul
  list-style-type: none
a
  text-decoration: inherit
  color: inherit